.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

h1 {
    font-size: 3rem;
    color: rgb(80, 4, 110);
}

thead {
    margin: 5vh;
}

th {
    font-size: 2rem;
    color: blueviolet;
    padding: 0 3vw;
}

td {
    padding: 3vw;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    border: 1px solid blue;
}